body{
	height: 100%;
	border: 20px solid #bdc3c7;
	margin: 20%;
	margin-top: 15px;
	padding: 10px;
	font-family: Source Sans Pro;
	
}

div{
	margin: 0 20px;
	margin-right: 10px;
}

div p:nth-of-type(2){
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

div p:nth-of-type(1){
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h1{
	font-weight: 600;
}

.para{
	margin-right: 5px;
}
