p{
	font-family: Raleway;
}

h1{
	font-family: Indie Flower;
}

h1{
	font-size: 50px;
}

span{
	font-size: 2.0em;
}
p{
	font-weight: normal;
}

p{
	line-height: 2;
}

h1{
	text-align: right;
}
p{
	text-align: center;
}

p{
	text-decoration: underline;
}
h1{
	text-decoration: line-through;
}