h1{
	text-align: center;
}

table{
	margin: auto;
}

td{
	width: 100px;
	height: 100px;
}

tr td:nth-of-type(even){
	border-left: 1px solid black;
	border-right: 1px solid black;
}

tr:nth-of-type(2) td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
