body{
	margin: 0;
}

header{
	background: #999;
	color:white;
	padding: 15px 15px 0 15px;
}

header h1{
	display: inline-block;
	margin: 0;
}

nav ul{
	margin: 0;
	display: inline;
	padding: 0 0 0 15px;
}

nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none; 
	padding: 5px 15px;
}

nav ul li a{
	color: white;
}

.row{
	clear: both;
}

.row:after{
	clear: both;
	content: "";
	display: table;
}



.col{
	border-radius: 5px;
	background: #333;
	padding: 10px .5px;
	margin: .5%;
	width: 31%;
	float: left;
}

